My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "58f7b869-012a-4921-b22c-b4ae1e1e86a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/files/n8n_data/birthday_list.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "188de724-c5d9-4a3d-abc0-ae6c294b7db9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "5a5cf332-4f81-411b-8489-c4783754c76f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "595bff25-a6d3-4053-b758-5033cec384a3",
              "leftValue": "={{\n  new Date((($json.Birthday - 25569) * 86400) * 1000)\n    .toISOString()\n    .slice(5, 10)\n}}",
              "rightValue": "=12-15",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "3199d0df-a855-4815-bb66-80b03b44a30e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60418268-7156-4fab-9dda-348caec60393",
              "name": "Subject",
              "value": "=🎉 Happy Birthday {{ $json.Name }}!",
              "type": "string"
            },
            {
              "id": "3cd4a415-2ee1-4d27-ae0b-45a74eabc084",
              "name": "message",
              "value": "=Dear {{ $json.Name }},  Wishing you a very Happy Birthday 🎂🎉 May your day be filled with joy and success!  Best regards, Your Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -48
      ],
      "id": "04f1538d-169d-4d3c-8d01-0087eb2f5880",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "kommineni2004@gmail.com",
        "subject": "={{$json.Subject}}",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -48
      ],
      "id": "bdbef173-ad2e-40ed-90de-d3b9e5140e0b",
      "name": "Send a message",
      "webhookId": "0ca857e9-5beb-4302-9294-9602a46e100b",
      "credentials": {
        "gmailOAuth2": {
          "id": "y2JhSRF8eA70dl53",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b168f7fa-0a4a-4eeb-9ee2-99b5a9e4c884",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "deda653f2085f5ebf8d74256a7b09d46422b7aad3b3a9a314ef1b70df344c923"
  },
  "id": "y1ECq1HZSGPO3csZ",
  "tags": []
}